button {
    margin: 2px;
    margin-left: 80px;
}

text {
    font: 12px sans-serif;
}
table, th, td {
	 padding: 10px;
}
th{
text-align:center;
font-size: 28px;
}
td{
text-align:left;
font-size: 14px;
color:#666666;
}
.mid{
text-align:center;
font-size: 16px;
}
.entext{
	font-size: 18px;
}
body{
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
input{
	font-size: 15px;
}